:root {
	/* The top distance of the loading indicator bar. */
	--loading-indicator-top: 0;
	/* The height of the modal. */
	--loading-modal-height: calc(100vh - (var(--lumo-size-l) / 10));
	/* The text color in the modal. */
	--loading-modal-text-color: #EEE;
}

/* Loading indicator and loading. */
body[background-operation] #bg-loading-area {
	position: fixed;
	width: 100%;
	top: var(--loading-indicator-top);
	z-index: 1;
}
body[background-operation] #bg-loading-area #bg-loading-indicator {
	margin: 0;
	padding: 0;	
}
body[background-operation] #bg-loading-area #bg-loading-modal {
	height: var(--loading-modal-height);
	width: 100%;
	
	background-color: rgba(0,0,0,0.6);
}
body #bg-loading-area #bg-loading-modal {
	transition: background-color 2s ease-out;
}
body[background-operation] #bg-loading-area #bg-loading-modal #bg-loading-modal-content {
	color: var(--loading-modal-text-color);
	
	position: absolute;
	top: 30%;
	left: 50%;
	
	margin-left: -100px;
	width: 200px;
	text-align: center;
}
body:not([background-operation]) #bg-loading-area  {
	display: none;
}
body[background-loading].bg-loading-content label,
 body[background-loading].bg-loading-content span, 
 body[background-loading].bg-loading-content vaadin-button, 
 body[background-loading].bg-loading-content vaadin-grid, 
 body[background-loading].bg-loading-content vaadin-combo-box, 
 body[background-loading].bg-loading-content h1,
 body[background-loading].bg-loading-content h2,
 body[background-loading].bg-loading-content h3,
 body[background-loading].bg-loading-content h4,
 body[background-loading].bg-loading-content h5,
 body[background-loading].bg-loading-content h6 {
	border: dotted thin BLACK;
	
	content-visibility: hidden;
	
	min-height: 1em;
	min-width: 30px;
}
body[background-loading].bg-loading-content label > *,
 body[background-loading].bg-loading-content span > *, 
 body[background-loading].bg-loading-content vaadin-button > *, 
 body[background-loading].bg-loading-content vaadin-grid > *, 
 body[background-loading].bg-loading-content vaadin-combo-box > *, 
 body[background-loading].bg-loading-content h1 > *,
 body[background-loading].bg-loading-content h2 > *,
 body[background-loading].bg-loading-content h3 > *,
 body[background-loading].bg-loading-content h4 > *,
 body[background-loading].bg-loading-content h5 > *,
 body[background-loading].bg-loading-content h6 > * {
	visibility: hidden;
}